* {
    margin: 0;
}

a {
    color: inherit;
}

.top-nav {
    margin: 2rem 2rem 8rem 1rem;
}

.button-container .btn-play {
    transition: background-color .1s linear;
    font-size: 1.5rem;
    background-color: white;
}

.button-container .btn-play:hover {
    background-color: #f8f9fa;
}

.button-container .btn-about-game {
    transition: background-color .1s linear;
    font-size: 1.5rem;
}

.button-container .btn-about-game:hover {
    background-color: #f8f9fa;
}

.button-container a {
    padding: 1.7rem;
}

.button-container a button {
    padding: 1rem;
}

.logo-img {
    height: 200px;
    width: 200px;
}

.top-nav .navbar-container .nav-list li .login-btn {
    transition: background-color .1s linear;
    font-size: 1.3rem;
    padding: .5rem 1rem .5rem 1rem;
}

.top-nav .navbar-container .nav-list li .login-btn:hover {
    background-color: #f8f9fa;
}

.top-nav .navbar-container .nav-list li .sign-up-btn {
    transition: background-color .1s linear;
    font-size: 1.3rem;
    padding: .5rem 1rem .5rem 1rem;
}

.top-nav .navbar-container .nav-list li .sign-up-btn:hover {
    background-color: #f8f9fa;
}

.login-modal .modal-dialog .modal-content .modal-body .container-fluid .logo-area .logo-img {
    height: 100px;
    width: 100px;
}

.sign-up-modal .modal-dialog .modal-content .modal-body .container-fluid .logo-area .logo-img {
    height: 100px;
    width: 100px;
}

#welcome_text {
    font-size: x-large;
}

#custome-file-label::after {
    border-radius: 0 1.05rem 1.05rem 0 !important;
}