* {
    margin: 0;
}

body {
    background-color: #f8f9fa;
}

.main-navbar {
    padding-top: 2.5rem !important;
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
    margin-bottom: 7rem !important;
}

.main-navbar a .btn-main-menu {
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    transition: background-color .1s linear;
}

.main-navbar .start-btn {
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    transition: background-color .1s linear;
}

.main-navbar .reset-btn {
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    transition: background-color .1s linear;
}

.main-navbar .start-btn:hover {
    background-color: #f8f9fa;
}

.main-navbar .reset-btn:hover {
    background-color: #f8f9fa;
}

.main-navbar .btn-main-menu:hover {
    background-color: #f8f9fa;
}

#game-mode-menu {
    margin-left: 5px;
}

#game-mode-menu, #grid-size-menu, #grid-color-menu, #disk-color-menu1, #disk-color-menu2  {
    margin: 0px 5px 0px;
    text-align: center;
    cursor: pointer;
}

#my-table {
    margin: 0;
    border-collapse: unset !important;
    table-layout: fixed;
    border-color: transparent !important;
}

table, td {
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
}

#score-board {
    border-color: transparent !important;
}

#timer-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#timer {
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
}

.disk {
    border-radius: 25px;
    border: solid 1px gray;
    pointer-events: none;
    height: 100%;
    margin: auto;
}

.fill-container {
    width: 30px;
    height: 30px;
    margin: auto;
}

td:not(.edge):hover {
    background-color: rgba(108, 108, 226, 0.534) !important;
}

.edge {
    border: none;
}

#clock {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    
}

.player1Style {

}

.player2Style {

}

#my-table tbody > tr > td { 
    width: 50px;
    height: 50px;

}

.currentPlayerTurn {
    background-color: blueviolet;
  }
  
.notHoverable {
    pointer-events: none !important;
  }

td:not(.notHoverable):not(.edge) {
    opacity: 0.3 !important;
}